{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Evenements{% endblock %}

{% block body %}

<!-- /Header -->
    <section class="parallax_window_in bg-image" data-parallax="scroll" data-image-src="img/core/2.jpeg" style="background-image: url('img/core/1.jpeg');" data-natural-width="1120" data-natural-height="400">
        <div id="sub_content_in">
            <h1>Evenements</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
    </section>
    <!-- /section -->

    <!-- START BLOG -->     
    <section id="blog" class="fresh-news section-padding">
        <div class="container">
            <div class="section-title text-center wow zoomIn mb-4">
                <span>Evénements</span> 
                <h2>Dernières évenements </h2>
            </div>              
            <div class="row">

                {% for event in events %}

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    
                    {{ include('evenements/_bloc.html.twig') }}

                </div><!-- END COL-->

                {% else %}

                    <p class="lead">Aucun évenement</p>

                {% endfor %} 

                
            </div><!-- END ROW -->

            {{ knp_pagination_render(events) }}

        </div><!-- END CONTAINER -->    
    </section>
    <!-- END BLOG -->

{% endblock %}
