<!-- Testimonail Section -->
<section class="abv2-feedback-section section-padding bg-light">
    <div class="container">
        <div class="abv2-feedback-right justify-content-center">
            <div class="title-style-2 text-center">
                <h2>Ils parlent de nous</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor</p>
            </div>
        </div>
        <div class="abv2-feedback-wrapper">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="img-wrapper">
                                <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                            </div>
                            <div class="client-content">
                                <h6>Alina Lora</h6>
                                <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="img-wrapper">
                                <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                            </div>
                            <div class="client-content">
                                <h6>Alina Lora</h6>
                                <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="img-wrapper">
                                <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                            </div>
                            <div class="client-content">
                                <h6>Alina Lora</h6>
                                <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="img-wrapper">
                                <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                            </div>
                            <div class="client-content">
                                <h6>Alina Lora</h6>
                                <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="img-wrapper">
                                <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                            </div>
                            <div class="client-content">
                                <h6>Alina Lora</h6>
                                <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="img-wrapper">
                                <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                            </div>
                            <div class="client-content">
                                <h6>Alina Lora</h6>
                                <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Testimonail Section End -->