{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} à propos{% endblock %}

{% block body %}

<section class="parallax_window_in" data-parallax="scroll" data-image-src="img/sub_header_1.jpg" data-natural-width="1120" data-natural-height="400">
    <div id="sub_content_in">
        <h1>A propos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco officia deserunt mollit anim id est laborum.</p>
    </div>
</section>
<!-- START ABOUT US -->



<section class="about_us section-padding" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-sm-12 col-xs-12 d-none d-sm-block" style="height: 400px;">
                <div class="about_img" style="background-image: url(img/core/0.jpeg); background-repeat: no-repeat; border-radius: 20px; background-size: cover; background-position: center; width: 100%; height: 100%; position: relative; bottom: 0; left: 0">   
                </div>                  
            </div><!--- END COL -->

            <div class="col-lg-7 col-sm-12 col-xs-12">
                <div class="about-content">                     
                    <div class="section-title text-left">   
                        <h2 style="">A propos</h2>   
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
                    <a href="#" class="btn btn-primary">Vérifier votre éligibilité  <i class="ti-arrow-right"></i></a>                                  
                </div>
            </div><!--- END COL -->         

        </div><!--- END ROW -->     
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT US -->

<!-- Comment reduire impôt section -->
<section class="blog-content-section d-none d-sm-block bg-white section-padding">
    <h2 class="text-center p-4">Comment réduire ses impôts en 2022 ?</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-posts">
                    <div class="blog-single-post">
                        <div class="bixol-img-wrapper">
                            <a href="blog-details.html"><img src="img/core/1.jpeg" height="300" alt=""></a>
                        </div>
                        <div class="bixol-blog-content">
                            <!--<a href="blog.html" class="bixol-category">Plumbing</a>-->
                            <div class="bixol-blog-headline">
                                <a href="blog-details.html"><h5>Globalement, il existe deux stratégies pour réduire ses impôts : investir dans des dispositifs de défiscalisation et optimiser sa fiscalité.</h5></a>
                            </div>
                            <div class="bixol-blog-pera">
                                <p>Pour diminuer vos impôts sans investir :</p>
                                <ul>
                                    <li><strong>Réduisez votre revenu net imposable</strong> en déclarant vos charges comme les pensions alimentaires que vous versez, ou vos travaux de rénovation. Vous avez également tout intérêt à bien déclarer votre situation personnelle à l'administration fiscale. En effet, des abattements fiscaux s'appliquent si vous hébergez une personne âgée (plus de 75 ans) ou dépendante. </li>
                                    <li><strong>Choisissez judicieusement votre taux de prélèvement à la source :</strong> vous avez le choix entre les taux personnalisé, individuel et neutre. Il existe un taux plus avantageux que les autres, en fonction de votre situation. </li>
                                    <li><strong>Déclarez vos crédits d'impôts :</strong>plusieurs de vos dépenses courantes vous donnent peut-être accès à des crédits ou déductions d'impôts : prestations de ménage, de garde d'enfants, ou encore dons à des associations. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-single-post">
                        <div class="bixol-blog-content">
                            <!--<a href="blog.html" class="bixol-category">Reduct</a>-->
                            <div class="bixol-blog-headline">
                                <a href="blog-details.html"><h5>Ces astuces sont toutefois limitées en termes d'impact sur votre imposition. Les solutions les plus efficaces pour réduire vos impôts de manière significative sont les investissements:</h5></a>
                            </div>
                            <div class="bixol-blog-pera">
                                <ul>
                                    <li>Dans des dispositifs immobiliers : loi Malraux & Monuments historiques, loi Pinel & Denormandie, loi LMNP, etc </li>
                                    <li>Dans des sociétés françaises : FCPI, FIP, Girardin Industriel, etc.</li>
                                    <li>Dans des placements d'épargne prévoyance : PER, assurance vie, etc.</li>
                                </ul>
                            </div>
                                <!--<div class="bixol-blog-btn">
                                    <a href="blog-details.html" class="bixol-primary-btn"> Lire plus <span><i class="fas fa-plus"></i></span></a>
                                </div>-->
                            </div>
                            <div class="bixol-img-wrapper pt-4 pb-4">
                                <a href="blog-details.html"><img src="img/core/0.jpeg" height="300" alt=""></a>
                                <!--<div class="bixol-blog-date">
                                    <span>10 AUG</span>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Comment reduire les impots -->

    {% endblock %}
