{% extends 'admin.html.twig' %}

{% block title %}Modifier le compte utilisateur{% endblock %}

{% block pageHeader %}

<div class="page-header">

    <!-- Breadcrumb start -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><h1 class="h3 font-weight-bold">Modifier le compte utilisateur</h1></li>
    </ol>
    <!-- Breadcrumb end -->

    <!-- App actions start -->
    <div class="app-actions">
        <a href="{{ path('admin_users_index') }}" class="btn active">Tout les comptes utilisateurs</a>
    </div>
    <!-- App actions end -->

</div>

{% endblock %}

{% block body %}

    {{ include('admin/admin_users/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

{% endblock %}
