<h1>{{ appName }}</h1>

<p>Destinataire: <a href="mailto: {{ useremail }}">{{ useremail }}</a></p>
    
<p>Sujet: Pour assurer la confidentialité un code sms va vous être envoyé</p>
    
<p>Code de vérification: <strong>{{ securityCode }}</strong></p>