
<!doctype html>
<html lang="en">
	
<!-- Mirrored from bootstrap.gallery/tycoon/design-light-version/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Jun 2022 07:35:00 GMT -->
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
		<meta name="author" content="ParkerThemes">
		<link rel="shortcut icon" href="{{ asset('img/logo.png') }}" />

		<!-- Title -->
		<title>{% block title %} {{ appName }} {% endblock %}</title>
		
		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ asset('themes/admin/css/bootstrap.min.css') }}">

		<!-- Master CSS -->
		<link rel="stylesheet" href="{{ asset('themes/admin/css/main.css') }}">

	</head>

	<body class="authentication">

		<!-- Container start -->
		<div class="container">

			{% block body %}{% endblock %}

		</div>
		<!-- Container end -->

	</body>

<!-- Mirrored from bootstrap.gallery/tycoon/design-light-version/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Jun 2022 07:35:00 GMT -->
</html>