<section id="general_page" class="home2-blog-area">
	<div class="container margin_60_35">
		<div class="row">

			<aside class="col-lg-6" id="faq_cat">

				<div class="main_title_3 add_top_30">
					<span><em></em></span>
					<h2>VOS RESULTAT</h2>
				</div>


				<div class="text-danger">
					<p>Vous n’êtes malheureusement pas éligible à notre service <br>

					Vous souhaitez réduire vos factures domestiques?</p>

					<p>
						Energie-forfait mobiles-internet-Assurance habitation <br>
						Prenez rendez-vous téléphonique avec un expert des domestique partenaire et faites des économies
					</p>
					
					{{ include('questionnaire/_rappeler_form.html.twig') }}

				</div>

			</aside>

		</div>
		<!-- /row -->
	</div>
	<!--/container-->
</section>